/*When we have a common css for some HTML pages, instead of put the file base.css in each HTML page, I can import the base.css on each css*/
@import "./base.css";

.shopping-cart-icon--primary g path {
  fill: var(--color-primary);
}

.speakers .main__title {
  font-size: 98px;
}

.speaker__photo {
  width: 310px;
  height: 310px;
  object-fit: cover;
  margin-bottom: 36px;
}

.speaker__photo--top {
  object-position: top;
}

.speaker__name {
  font-size: 32px;
  margin-bottom: 20px;
}

.speaker__company {
  font-size: 24px;
  margin-bottom: 32px;
}

.speaker__bio {
  font-size: 20px;
}

.speaker__company,
.speaker__bio {
  color: var(--color-text-on-secondary);
}
